/**
 * EY Insights CSS
 * Last update: 30 September 2016 4:46 PM
 */

.js body {
    display: none;
}
.mobilesocialshare {
    display: none;
}
@media only screen and (max-width: 720px) {
    .mobilesocialshare {
        display: block;
        margin: 10px;
    }
    .mobilesocialshare h3 {
        margin-bottom: 8px;
    }
}
.maincolumn {
    padding: 0;
}
.masonry, .masonry .masonry-brick {
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
.masonry {
    -webkit-transition-property: width, height;
    -moz-transition-property: width, height;
    -ms-transition-property: width, height;
    -o-transition-property: width, height;
    transition-property: width, height;
}
.masonry .masonry-brick {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}
.hero {
    height: 330px;
    overflow: hidden;
}
.local-sub {
    display: none;
}
.cbmhero {
    background-size: cover;
    background-image: url(http://cdn.ey.com/echannel/gl/en/issues/business-environment/bbww_portal/images_content/bbww-landing-banner.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 390px;
    margin-bottom: 10px;
}
.insight-intro {
    display: none;
}
.main-title {
    font-family: "Interstate", "Helvetica Neue", Arial, sans-serif;
    letter-spacing: -.05em;
    font-size: 48px;
    font-weight: normal;
    color: #808080;
}
.insight-intro h1 {
    margin-top: 14px;
    font-family: "Interstate", "Helvetica Neue", Arial, sans-serif;
    letter-spacing: -.05em;
    font-size: 48px;
    font-weight: normal;
    color: #333333;
}
#tile-container h5 {
    margin-top: 10px;
    font-weight: normal;
    font-size: .875em;
}
.grid-sizer, .tile {
    width: 32%;
}
@media only screen and (min-width: 481px) and (max-width: 800px) {
    .grid-sizer, .tile {
        width: 32%;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .grid-sizer, .tile {
        width: 32%;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .grid-sizer, .tile {
        width: 48%;
    }
}

.gutter-sizer {
    width: 1%;
}
.tile {
    position: relative;
    border: 1px solid #f0f0f0;
    margin-left: 0;
    margin: 2px;
    padding: 10px;
    padding-bottom: 0;
    height: 340px;
    float: left;
    color: #666;
    background: #fff;
    overflow: hidden;
}
@media only screen and (max-width: 480px), only screen and (device-height: 568px) {
    .tile {
        margin: 5px auto;
        float: none;
        border: none;
        padding: 10px;
    }
}

@media only screen and (min-width: 1250px) {
  .tile {
    height:283px;
  }
}

.tile h3 {
    margin-top: 10px;
    color: #369;
}

.tile p {
    margin: 10px 0;
    font: 15px/1.4"EYInterstate", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    letter-spacing: -0.01em;
}
@media only screen and (max-width: 480px), only screen and (device-height: 568px) {
    .tile p {
        margin: 10px;
    }
}

.no-description h5 {
    display: none;
}
.tile .releasedate {
    font-size: 11px;
    text-align: right;
}
.tile:hover {
    background: #f0f0f0;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    -ms-transition: all .4s;
    transition: all .4s;
}
.photo.tile:hover {
    transition: none;
    background: auto;
}

.tile.two-column-tile {
    width: 49%;
}
.tile.two-column-tile p {
    padding: 8px;
    padding-top: 0;
}
.tile.two-row-tile {
    height: 570px;
}
@media only screen and (max-width: 480px), only screen and (device-height: 568px) {
    .tile.two-row-tile {
        height: 340px;
    }
}

.no-image {
    background-color: #808080;
}
.no-image:hover {
    background-color: #404040;
}
.no-image h3, .no-image h5, .no-image .releasedate {
    color: white;
}
.no-image.ey-dark-gray {
    background-color: #333333;
}
.no-image.ey-gray {
    background-color: #808080;
}
.no-image.ey-gray-1 {
    background-color: #999999;
    color: #333!important;
}
.no-image.ey-gray-2 {
    background-color: #c0c0c0;
}
.no-image.ey-gray-3 {
    background-color: #f0f0f0;
}
.no-image.ey-yellow {
    background-color: #ffe600;
}
.no-image.ey-yellow:hover {
    background-color: #ffff99;
}
.no-image.ey-gray-1 h3, .no-image.ey-gray-2 h3, .no-image.ey-gray-3 h3 {
    color: #333!important;
}
.no-image.ey-gray-1 h5, .no-image.ey-gray-2 h5, .no-image.ey-gray-3 h5 {
    color: #333!important;
}
.no-image.ey-gray-1 .releasedate, .no-image.ey-gray-2 .releasedate, .no-image.ey-gray-3 .releasedate {
    color: #333!important;
}
.no-image.ey-yellow h3, .no-image.ey-yellow h5, .no-image.ey-yellow .releasedate {
    color: #333!important;
}
.ey-yellow h3 span {
    color: #333!important;
}
.photo {
    position: relative;
    background-size: cover;
}
.photo:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.photo:hover:before {
    background: rgba(0, 0, 0, 0.3);
}
.photo-center-white, .photo-center-white:hover, .photo-center-black, .photo-center-black:hover, .photo-center-yellow,
.photo-center-yellow:hover {
    background-position: center bottom!important;
    background-size: cover;
}
.photo-right-white, .photo-right-white:hover, .photo-right-black, .photo-right-black:hover, .photo-right-yellow,
.photo-right-yellow:hover {
    background-position: right bottom!important;
    background-size: cover;
}
.photo-left-white, .photo-left-white:hover, .photo-left-black, .photo-left-black:hover, .photo-left-yellow,
.photo-left-yellow:hover {
    background-position: left bottom!important;
    background-size: cover;
}
.photo-center-white.tile h3, .photo-right-white.tile h3, .photo-left-white.tile h3 {
    color: white;
    z-index: 1;
    position: relative;
}
.photo-center-white.tile h5, .photo-right-white.tile h5, .photo-left-white.tile h5 {
    color: white;
    z-index: 1;
    position: relative;
}
.photo-center-white .releasedate, .photo-right-white .releasedate, .photo-left-white .releasedate {
    position: absolute;
    bottom: 0;
    right: 5px;
    color: white;
    z-index: 1;
    position: relative;
}
.photo-center-black.tile h3, .photo-right-black.tile h3, .photo-left-black.tile h3 {
    color: black;
    z-index: 1;
    position: relative;
}
.photo-center-black.tile h5, .photo-right-black.tile h5, .photo-left-black.tile h5 {
    color: black;
    z-index: 1;
    position: relative;
}
.photo-center-black .releasedate, .photo-right-black .releasedate, .photo-left-black .releasedate {
    bottom: 0;
    right: 5px;
    color: black;
    z-index: 1;
    position: relative;
}

.photo-center-yellow.tile .wrap-head-subhead,
.photo-right-yellow.tile .wrap-head-subhead,
.photo-left-yellow.tile .wrap-head-subhead {
    position: absolute;
    bottom: 0;
    background-color: #ffe600;
    margin: 0;
    padding: 4%;
    padding-bottom: 8%;
    left: 0;
    right: 0;
    color: #000;
    min-height: 33%;
    opacity: .95;
}

@media only screen and (min-width: 1250px) {

  .photo-center-yellow.tile .wrap-head-subhead,
  .photo-right-yellow.tile .wrap-head-subhead,
  .photo-left-yellow.tile .wrap-head-subhead {
      padding: 6%;
  }

}

.photo-center-yellow.tile h3,
.photo-right-yellow.tile h3,
.photo-left-yellow.tile h3 {
   color: #000;
}

.photo-center-yellow.tile h5,
.photo-right-yellow.tile h5,
.photo-left-yellow.tile h5 {
    opacity: 0;
    height: 0;
    -webkit-transition: all 0.8s ease;
}

.no-touch a:hover .photo-center-yellow.tile h5,
.no-touch a:hover .photo-right-yellow.tile h5,
.no-touch a:hover .photo-left-yellow.tile h5 {
    opacity: 1;
    height: auto;
}

.photo.text-align-right h3,
.photo.text-align-right h5 {
  margin-left: 40%;
}

.photo.text-align-left h3,
.photo.text-align-left h5 {
  margin-right: 40%;
}

.photo-center-yellow .releasedate,
.photo-right-yellow .releasedate,
.photo-left-yellow .releasedate {
    color: #999;
}

.photo .cbmimagemask {
    display: none;
}


.cbmimagemask {
    height: 80px;
    overflow: hidden;
}
.two-column-tile .cbmimagemask {
    height: 160px;
}
@media only screen and (max-width: 480px), only screen and (device-height: 568px) {
    .cbmimagemask {
        height: 150px;
    }
}
.tile img {
    width: 100%;
    height: 80px;
    max-width: 100%;
}
.two-colum-tile img {
    height: 160px;
}
@media only screen and (max-width: 480px), only screen and (device-height: 568px) {
    .tile img {
        height: 150px;
    }
}
.tile.cbmtoc {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: visible;
    background: #f0f0f0;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#cccccc));
    background-image: -webkit-linear-gradient(#f0f0f0 0%, #cccccc);
    background-image: -moz-linear-gradient(#f0f0f0 0%, #cccccc);
    background-image: -o-linear-gradient(#f0f0f0 0%, #cccccc);
    background-image: linear-gradient(#f0f0f0 0%, #cccccc);
}
.cbmtoc {
    height: 340px;
}
.browsecbm {
    width: 100%;
    font-size: 14px;
    margin: 0;
    padding: 10px;
}
.tile .cbmheadings {
    box-shadow: 0 3px 10px -10px black;
    width: 220px;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 480px), only screen and (device-height: 568px) {
    .tile .cbmheadings {
        width: 310px;
        margin: 0;
    }
}
.tile .cbmheadings .h4, .tile .cbmheadings h3, .tile .cbmheadings .kicker, .tile .cbmheadings p {
    color: white;
    background: rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 5px 10px;
    width: 100%;
}
.tile .cbmheadings h4, .tile .cbmheadings .h4, .tile .cbmheadings .h4 a, .tile .cbmheadings h4 a {
    color: #666;
}
.tile .cbmheadings h4:hover, .tile .cbmheadings .h4:hover, .tile .cbmheadings .h4 a:hover, .tile .cbmheadings h4 a:hover {
    color: #369;
}
.tile .cbmheadings .h4 {
    background: #f0f0f0;
    background: rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.84);
    color: #fff;
    font-size: .625rem;
    padding: 5px 10px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 208px;
    position: absolute;
    display: none;
}
.tile.two-column-tile .cbmheadings {
    width: 462px;
}
@media only screen and (max-width: 480px), only screen and (device-height: 568px) {
    .tile.two-column-tile .cbmheadings {
        width: 310px;
    }
}
.two-column-tile .cbmheadings .h4 {
    width: 438px;
}
.tile .cbmheadings .h4 a:hover {
    color: #ffe600;
}
* + html img {
    -ms-interpolation-mode: bicubic;
}
* + html .tile .cbmheadings .h4 {
    font-size: .75em;
    background: none transparent scroll repeat 0% 0%;
    background-color: #333;
    background-image: url("http://www.ey.com/ecimages/80bk.png");
    position: relative;
}
.cbmtoc h3 {
    border: none;
}
* + html .tile.cbmtoc {
    padding: 10px;
}
* + html .xxcbmissues {
    margin-left: auto;
}
.xxcbmissues li a {
    margin: 4px;
    width: 220px;
    min-width: 220px;
}
* + html .xxcbmissues li a {
    width: 180px;
    min-width: 180px;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.loader {
    text-align: center;
}
.issue_first {
    background-color: #ffe600;
}
@media only screen and (max-width: 30em) {
    #nav {
        display: block;
    }
    .cbmtoc {
        display: none;
    }
}
@media only screen and (max-width: 30em) and (orientation: portrait), only screen and (device-height: 568px) and (orientation: portrait) {
    .tile.two-column-tile .cbmheadings .h4, .tile .cbmheadings .h4 {
        width: 93%;
    }
}
@media only screen and (max-width: 30em) and (orientation: landscape), only screen and (device-height: 568px) and (orientation: landscape) {
    .tile.two-column-tile .cbmheadings .h4, .tile .cbmheadings .h4 {
        width: 95.5%;
    }
}
* + html #top, * + html #nav {
    display: none;
}
#mmenu {
    /*display: none;*/
}
#nav li a {
    cursor: pointer;
}
@media only screen and (max-width: 480px), only screen and (device-height: 568px) {
    .maincolumn.span100 {
        padding: 0 10px!important;
    }
    h1.serviceheading {
        font-size: 21px!important;
        top: 26px;
        right: 10px;
        width: auto;
    }
    .tile.two-column-tile, .tile {
        width: 100%;
        /*height: 340px;*/
        border: none;
    }
    .cbmtoc {
        height: 20px;
    }
    .cbmhero {
        height: 645px;
    }
    .cbmabout {
        left: 5%;
        opacity: .75;
    }
    .xxcbmissues li a {
        height: 36px;
        width: 100%;
    }
}
@media only screen and (max-width: 640px) {
    .maincolumn .section {
        margin: 0;
    }
}

#top .nav-btn {
    right: .68em;
    top: .3em;
    left: auto;
}
.nav-btn {
    width: auto;
    height: auto;
    background: none;
    font-size: 36px;
    opacity: 1;
    overflow: auto;
    text-indent: 0;
    color: #fff;
}
#top .block-title {
    font-weight: normal;
}
#nav .block-title {
    top: -54px;
    left: 12px;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    overflow: auto;
    clip: auto;
    height: auto;
    width: auto;
}
.close-btn {
    /*display: none!important;*/
}
@media screen and (max-width: 30em) {
    #nav li:last-child {
        border-bottom: 2px solid #666;
    }
    #nav li a {
        padding: 0.85714em .8em;
    }
    #nav .close-btn {
        top: -4.4em;
        right: -0.5em;
        left: auto;
        text-indent: 0;
        background: none;
        font-size: 18px;
        color: #fff;
        opacity: 1;
    }
}
.serviceslist li.nav-current, .serviceslist li .tabmenuitem_active {
    background-color: #f0f0f0;
}
.serviceslist li a.subnavToggle:hover {
    color: gray;
}
ol.local-sub li {
    list-style-type: none;
}
.insights-apps img {
    width: 75%;
}
